/* total style */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}


@font-face {
    font-family: 'MeowsNepilRegular';
    src: url('./font/MeowsNepilRegular-Yzvwa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Meows';
    src: url('./font/Meows-VGWjy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background: #000000  ;
    background-image:url(./bg.png);
    background-size: cover;
}
.bg{
    max-width:100vw;
    height:auto;
}

ul{
    list-style:none;
    font-family: 'Meows';

}
i{
    transition: all(1s);
    cursor: pointer;

}

button{
    background-color:unset;
    outline: unset;
    border: unset;
    font-family: 'Meows';
    font-size:1em;
    color:white;
    cursor: pointer;
}


/*footer*/

.hoveropner{
    position: fixed;
    bottom:0;
    left:99%;
    width:100%;
    padding:0px 0 0 15px;
    background-color:transparent;
    transition: all .5s;
    cursor: pointer;
}
.OhoverOpner{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:0;
    background-color:transparent;
    transition: all .5s;
    cursor: pointer;
}
.hoveropner:hover{
    left:90% ;
}

.footer{

    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    padding:5px 10px;
    border-radius:5px 0 0 5px ;
    background: #000000;
    border-top:2px solid #0094FF;
    border-bottom:1px solid #1C1136;
    color:white;
}
.footer--left_side{
    display: flex;
    align-items: center;
}
.footer--left_side--footer_btn{
    font-size: 1.5em;
    margin-right:20px;
}
.footer--left_side-footer-timer{
    font-size:1.5em;
}
.footer-setting_btn{

    font-size:2em;
    color:white;

}

/*modal*/


.bg_modal{
    position: absolute;
    display: none;
    justify-content:center;
    align-items: center;
    width:100%;
    height:100%;
    background: #000;
    z-index:9;
}
#bgStartModal{
    display: flex;
}
.start_modal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    height:50%;
    padding:20px 40px;
    border-radius:15px;
    box-shadow:2px 2px 19em 1px  #0094FF ;
    z-index:9;
    color:white;
}
.start_modal-logo{
    position: absolute;
    top:-19%;
    left:-5%;
    width:80px;
    height: 80px;
}
.start_modal-content{
    display: flex; 
    flex-direction: column;
}
.start_modal--footer{
    display: flex;
    justify-content: space-between;

}
.start_modal--footer-btn{
    display: none;
    font-size:1.2em;
    color: hsl(205, 62%, 70%);
}
.Zspan{
    display: block;
    font-family: 'MeowsNepilRegular';
    font-size:2em;
    margin-top:20px;
}


#bg_setting{
    align-items: unset;
    justify-content: unset;
}
.setting_modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    padding:0;
}
.setting_modal--navbar{
    display: flex;
    width:100%;
    padding:10px;
}

.setting_modal--items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    height:100%;

}
.setting_modal--items-item{
    display: flex;
    justify-content: center;
    color: white;
    margin:50px;
    font-size:1.5em;
    
}
.fa-angle-bottom {
    color: white;
    
}
.setting_modal--items--item--dropdown{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top:30px;
}
.setting_modal--items--item--dropdown-item {
    margin:10px;
}
.setting_modal--items--item--dropdown-item img {
    border-radius: 10px;
}

/*Game over*/

.bggameover{
    position: absolute;
    display: none;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
    background: #000;
    z-index:9;
}
.gameover{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:50%;
    height:50%;
    padding:20px 40px;
    border-radius:15px;
    box-shadow:2px 2px 19em 1px  #ff0000 ;
    z-index:9;
    color:white;
}
.gameover-icon{
    position: absolute;
    top:-50%;
    margin:0 auto;
    font-family: 'MeowsNepilRegular';
    font-size:15em;
    color:red;
}
#GOcontent{
    margin-top:90px;
    font-weight:bold;
    color: red;
}
.bgWin{
    position: absolute;
    display: none;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
    background: #000;
    z-index:9;
}
.win{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:50%;
    height:50%;
    padding:20px 40px;
    border-radius:15px;
    box-shadow:2px 2px 19em 1px  #00ff2a ;
    z-index:9;
    color:white;
}
.win-icon{
    position: absolute;
    top:-50%;
    margin:0 auto;
    font-family: 'MeowsNepilRegular';
    font-size:15em;
    color:rgb(30, 255, 0);
}
#wincontent{
    margin-top:90px;
    font-weight:bold;
    color: rgb(115, 255, 0);
}


/*zoom cat*/

.ZoomCat{
    position: absolute;
    top:0;
    left:0;
    font-size:2.7em;
    font-family: 'MeowsNepilRegular';
    color: white;
    cursor: default;
}

@media only screen and (max-width : 1200px){
    .ZoomCat{
        font-size:1em;
    }
}

@media only screen and (max-width : 800px){
    .ZoomCat{
        font-size:1em;
    }
}

@media only screen and (max-width : 700px){
    body{
        background-image:url(./bg-mb.png);
    }
    .hoveropner{
        padding:0;
        left:97%;
    }
    .hoveropner:hover{
        left:92%;
    }
    .start_modal{
        width:100%;
        height:100%;
        padding: 100px 20px;
    }
    .start_modal-logo{
        display: none;
    }
    .gameover{
        justify-content: unset;
        text-align: center;
        width:100%;
        height:100%;
        padding: 0;

    }
    .gameover-icon{
        position: unset;
    }
    .win{
        justify-content: unset;
        text-align: center;
        width: 100% ;
        height: 100% ;
        padding: 0;

    }
    .win-icon{
        position: unset;
    }
    .ZoomCat{
        font-size:1em;
    }
}

